body {                          
  height: 100vh;                              /* Egenskaper för sidan/bakgrunden. Flex inställt på att innehållet i sidan centreras vertikalt */
  font-family: 'Roboto', sans-serif;    
  background-color: #f7f1f1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {                                      /* Egenskaper för headern exklusive text */
background-color: #353839;
color: aliceblue;
text-align: center; 
width: 100%;
display: flex;
justify-content:center;
align-items: center;
padding: 20px;
margin-top: 0;
margin-bottom: 50px;
}

header h1 {                                   /* Egenskaper för texten i headern */
  margin: 0px;
  letter-spacing: 10px;
}

.login-container {                             /* Egenskaper för box/container i mitten av sidan*/
  background-color: rgb(255, 255, 255);    
  padding: 70px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {                                          /* Egenskaper för underrubrik i containern*/
  text-align: center;
  font-size: 16px;
  color: #353839;
  margin-bottom: 30px;
}

.input-group {                               /* Egenskaper för inmatningsfälten */
  margin-bottom: 7px;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

input {                                      /* Egenskaper för inmatningsfältens text samt borders */
  font-size: 16px;
  border: 1px solid #686565;
  border-radius: 4px;
}

.login-btn {                                /* Styling av logga in-knapp */
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  background-color: #353839;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password {                             /* Storlek på text i länken glömt lösenordet */
font-size: 14px;
}

.forgot-password :hover{                        /* Länk ändrar färg vid hovring */
color: #0056b3;
}

.create-account :hover{                       /* Länk ändrar färg vid hovring*/
color: #0056b3;
}

i.fa-solid.fa-star {                          /* Justerar ikonens avstånd till element ovanför samt ändrar storlek på ikonen  */
margin-top: 25px; 
font-size: 20px;
}
